/*
 |--------------------------------------------------------------------------
 | Application's base styles
 |--------------------------------------------------------------------------
 */

button:focus {
  outline: 0;
}

input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: none;
}

/* Hide elements with the x-cloak directive from Alpine. */
[x-cloak] {
  display: none;
}
